<div style="display: flex;flex-direction: row;justify-content: space-between;">
  <h5>Miners</h5>
</div>
<table class="table table-dark dark-theme">
  <thead>
  <tr>
    <th scope="col">Pool</th>
    <th scope="col">Address</th>
    <th scope="col"><span (click)="toggleSorting('pending')">Pending <fa-icon *ngIf="isSortedColumn('pending')"
                                                                              [icon]="sortingIcon"
                                                                              style="color: #cfd0d1;"></fa-icon></span>
    </th>
    <th scope="col">
      <span (click)="toggleSorting('historicalShare')" ngbTooltip="Historical share">Share <fa-icon
        *ngIf="isSortedColumn('historicalShare')" [icon]="sortingIcon" style="color: #cfd0d1;"></fa-icon></span>
    </th>
    <th scope="col"><span (click)="toggleSorting('pledge')">Pledged / Committed <fa-icon
      *ngIf="isSortedColumn('pledge')" [icon]="sortingIcon" style="color: #cfd0d1;"></fa-icon></span></th>
    <th scope="col"><span (click)="toggleSorting('historicalPledgeShare')">Pledge Share / EC Multiplier <fa-icon
      *ngIf="isSortedColumn('historicalPledgeShare')" [icon]="sortingIcon" style="color: #cfd0d1;"></fa-icon></span>
    </th>
    <th scope="col"><span (click)="toggleSorting('deadlineCount')">Deadlines <fa-icon
      *ngIf="isSortedColumn('deadlineCount')" [icon]="sortingIcon" style="color: #cfd0d1;"></fa-icon></span></th>
    <th scope="col"><span (click)="toggleSorting('ec')" ngbTooltip="Effective capacity">EC <fa-icon
      *ngIf="isSortedColumn('ec')" [icon]="sortingIcon" style="color: #cfd0d1;"></fa-icon></span></th>
    <th scope="col"><span (click)="toggleSorting('reportedCapacity')" ngbTooltip="Reported capacity">Capacity <fa-icon
      *ngIf="isSortedColumn('reportedCapacity')" [icon]="sortingIcon" style="color: #cfd0d1;"></fa-icon></span></th>
    <th scope="col">Last Payout / Miner</th>
    <th scope="col">Remove</th>
  </tr>
  </thead>
  <tbody *ngFor="let pool of pools">
    <tr *ngFor="let miner of getSortedMiners(pool)">
      <td><a href="{{pool.url}}" target="_blank">{{pool.name}}</a></td>
      <td (click)="toggleShowDetails(pool.name, miner.payoutAddress)">
        <span *ngIf="miner.ec > 0 && !miner.isDeprecatedEndpoint && miner.connection === 'http'" style="padding-right: 4px" ngbTooltip="You are using http polling which hurts the pools performance, consider using Foxy-Miner or Foxy-Proxy">
          <fa-icon [icon]="faExclamationTriangle" style="color: orange;"></fa-icon>
        </span>
        <span class="dot" *ngIf="miner.online !== undefined" ngbTooltip="{{getMinerOnlineTooltip(miner.online)}}"
              [attr.positive]="miner.online === 1 ? true : null"
              [attr.intermediary]="miner.online === 2 ? true : null"
              [attr.investor]="miner.online === 3 ? true : null"
              [attr.negative]="miner.online === 0 ? true : null">
        </span>
        <span class="dot" *ngIf="miner.online === undefined" ngbTooltip="{{getMinerOnlineTooltip(getAccountState(pool, miner))}}"
              [attr.positive]="getAccountState(pool, miner) === 1 ? true : null"
              [attr.intermediary]="getAccountState(pool, miner) === 2 ? true : null"
              [attr.investor]="getAccountState(pool, miner) === 3 ? true : null"
              [attr.negative]="getAccountState(pool, miner) === 0 ? true : null">
        </span>
        {{miner.accountName || miner.name || miner.payoutAddress}}
        <span *ngIf="shouldShowDetails(pool.name, miner.payoutAddress)">
          <span *ngIf="miner.machines">
            <span *ngFor="let machine of miner.machines">
              <br>
              &nbsp;<span class="dot" ngbTooltip="{{getMinerOnlineTooltip(getMachineState(pool, machine))}}"
                          [attr.positive]="getMachineState(pool, machine) === 1 ? true : null"
                          [attr.intermediary]="getMachineState(pool, machine) === 2 ? true : null"
                          [attr.negative]="getMachineState(pool, machine) === 0 ? true : null">
              </span>
                {{getMachineName(machine)}}: {{getFormattedCapacity(machine.reportedCapacity)}}
            </span>
          </span>
          <span *ngIf="miner.miner">
            <span *ngFor="let machine of miner.miner">
              <br>
              &nbsp;<span class="dot" ngbTooltip="{{getMinerOnlineTooltip(getMachineState(pool, machine))}}"
                          [attr.positive]="getMachineState(pool, machine) === 1 ? true : null"
                          [attr.intermediary]="getMachineState(pool, machine) === 2 ? true : null"
                          [attr.negative]="getMachineState(pool, machine) === 0 ? true : null">
              </span>
              {{getMachineName(machine)}}: {{getFormattedCapacity(machine.reportedCapacity)}}
            </span>
          </span>
        </span>
      </td>
      <td (click)="toggleShowDetails(pool.name, miner.payoutAddress)">{{getPending(miner)}} {{pool.poolConfig.symbol}}</td>
      <td (click)="toggleShowDetails(pool.name, miner.payoutAddress)">{{((miner.ecShare || miner.historicalShare || 0) * 100).toFixed(4)}}%</td>
      <td (click)="toggleShowDetails(pool.name, miner.payoutAddress)" *ngIf="pool.poolConfig.supportsPledge || pool.poolConfig.supportsCommitment">{{getPledge(pool, miner)}} {{getPledgeUnit(pool)}}</td>
      <td (click)="toggleShowDetails(pool.name, miner.payoutAddress)" *ngIf="!pool.poolConfig.supportsPledge && !pool.poolConfig.supportsCommitment">N/A</td>
      <td (click)="toggleShowDetails(pool.name, miner.payoutAddress)" *ngIf="pool.poolConfig.supportsPledge">{{((miner.pledgeShare || miner.historicalPledgeShare || 0) * 100).toFixed(4)}} %</td>
      <td (click)="toggleShowDetails(pool.name, miner.payoutAddress)" *ngIf="pool.poolConfig.supportsCommitment">{{(miner.pledgeShare || 0).toFixed(2)}}</td>
      <td (click)="toggleShowDetails(pool.name, miner.payoutAddress)" *ngIf="!pool.poolConfig.supportsPledge && !pool.poolConfig.supportsCommitment">N/A</td>
      <td (click)="toggleShowDetails(pool.name, miner.payoutAddress)">{{miner.deadlines || miner.deadlineCount || 'N/A'}}</td>
      <td (click)="toggleShowDetails(pool.name, miner.payoutAddress)">{{getFormattedCapacity(miner.ec * 1024)}}</td>
      <td (click)="toggleShowDetails(pool.name, miner.payoutAddress)">{{getFormattedCapacityForMiner(miner)}}</td>
      <td (click)="toggleShowDetails(pool.name, miner.payoutAddress)">
        <span *ngIf="!!getLastPayout(pool, miner.payoutAddress)">
          <span *ngIf="pool.poolConfig.blockExplorerTxUrlTemplate">
            <a href="{{getBlockExplorerTransactionLink(pool, getLastPayoutTxId(pool, miner.payoutAddress))}}" target="_blank">{{getLastPayoutDate(pool, miner.payoutAddress)}}</a>
          </span>
          <span *ngIf="!pool.poolConfig.blockExplorerTxUrlTemplate">
            {{getLastPayoutDate(pool, miner.payoutAddress)}}
          </span>
          ({{getLastPayoutAmount(pool, miner.payoutAddress)}} {{pool.poolConfig.symbol}})
        </span>
        <span *ngIf="!getLastPayout(pool, miner.payoutAddress)">
          N/A
        </span>
        <span *ngIf="shouldShowDetails(pool.name, miner.payoutAddress)">
          <br>
          {{miner.software || miner.minerSoftware || 'N/A'}}
        </span>
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="removeMiner(pool, miner.payoutAddress)">
          <fa-icon [icon]="trash"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
